* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: block;
    padding: 10px;
    border: 2px solid #101888;
}

#posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.5rem;
    justify-content: center;
}

h1 {
    font-size: 2.2rem;
    color: darkblue;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 2rem;
    margin-bottom: .5rem;
}

p {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    display: block;
}

input[type="text"] {
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 1rem;
}

.button {
    background-color: rgb(20, 182, 96);
    border: 0;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 1.6rem;
    cursor: pointer;
    margin: 1rem 0 2rem;
    padding: 1rem 2rem;
    width: fit-content;

}

.button:hover {
    opacity: .75;
}

.posts-item {
    width: calc(100% / 4.5);
    padding: 1rem;
    border: 2px dashed #f93434;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}

.posts-item h3 {
    color: #198046;
    text-transform: capitalize;
}

.posts-item {
    color: #5b56e1;
}